DISCORD_WEBHOOK_URL=
CSORSE_MASTERSERVER_IP=127.0.0.1
CSORSE_MASTERSERVER_PORT=30002
CSORSE_MASTERSERVER_TIMEOUT=5
CSORSE_MASTERSERVER_UPDATE_INTERVAL=300
CSORSE_MASTERSERVER_DATASTORE_PATH=datastore.json
CSORSE_MASTERSERVER_SLEEP_MODE=1
CSORSE_MASTERSERVER_SLEEP_UPDATE_INTERVAL=28800
CSORSE_MASTERSERVER_NAME=
CSORSE_MASTERSERVER_PING_INTERVAL=1800
CSORSE_MASTERSERVER_SHOW_ADDRESS=0
